<li>
    <div class="col s12">
        <div class="card horizontal" style="cursor: default;">
            <div class="card-stacked">
                <div class="card-title">#NOMBRESUBASTA# (#ESTATUSSUBASTA#)</div>
                <div class="divider"></div>
                <div class="card-content">
                        <img src="images/cerrada.png" style="##CLASS## width:80%; float: left; z-index: 100; position:absolute; left:0px; top:0px; text-align: center;" />
                        <h6>Inicio de la subasta:</h6>
                        <h6>#FECHA_INISUBASTA#</h6>
                        <h6>Fin de la subasta:</h6>
                        <h6 class="restantePorSubasta" attr-fecha="#ATTRFECHA#" attr-id="#SUBASTAID#" attr-fechaini="#ATTRFECHAINI#" >#FECHA_SUBASTA#</h6>
                        <h6>Tipo de subasta:</h6>
                        <h6 style="color:blue;">#TIPOSUBASTA#</h6>
                        <h6>Oferta mínima:</h6>
                        <h6>$#OFERTAMINIMA#</h6>
                        <h6 id="contador#SUBASTAID#">&nbsp;</h6>
                </div>
                <div class="card-action">
                    <a class="btn" href="main.php?accion=subasta&id=#SUBASTAID#">VER SUBASTA</a>
                </div>
            </div>
        </div>
    </div>
</li>