<div class="CotizacionServicios" id="CServicios">
    <div  id="divServicios">
        <h4>Nuestros Servicios</h4>
         <div>Solicita tu cotización, agregando uno o varios de nuestros servicios</div>
        <ul class="collapsible popout" data-collapsible="accordion" id="divLstServicios"></ul>
       
    </div>      
    
    <div id="divCotizacion" class="row">
        <h5>Solicitud de Cotizaci&oacute;n</h5>
        <div id="divListaCS">
          Para poder cotizar debe agregar al menos un servicio de nuestro catalogo
        </div>
        <!-- <div>
            <label>Nombre:</label>
            <input type="text" name="cotizaNombre">
        </div> -->
        <div class="input-field col s12">
          <input id="cotizaNombre" type="text" class="validate" name="cotizaNombre">
          <label for="cotizaNombre">Nombre</label>
        </div>

        <!-- <div>
            <label>Correo:</label>
            <input type="text" name="cotizaCorreo">
        </div> -->
        <div class="input-field col s12">
          <input id="cotizaCorreo" type="text" class="validate" name="cotizaCorreo">
          <label for="cotizaCorreo">Correo</label>
        </div>

        <!-- <div>
            <label>Telefono:</label>
            <input type="text" name="cotizaTelefono">
        </div> -->
        <div class="input-field col s12">
          <input id="cotizaTelefono" type="text" class="validate" name="cotizaTelefono">
          <label for="cotizaTelefono">Tel&eacute;fono</label>
        </div>

        <!-- <div>
            <label>Marca:</label>
            <input type="text" name="cotizaMarca">
        </div> -->
        <div class="input-field col s12">
          <input id="cotizaMarca" type="text" class="validate"  name="cotizaMarca">
          <label for="cotizaMarca">Marca</label>
        </div>

        <!-- <div>
            <label>Modelo:</label>
            <input type="text" name="cotizaModelo">
        </div> -->
        <div class="input-field col s12">
          <input id="cotizaModelo" type="text" class="validate"  name="cotizaModelo">
          <label for="cotizaModelo">Modelo</label>
        </div>

        <!-- <div>
            <label>Tipo:</label>
            <input type="text" name="cotizaTipo">
        </div> -->
        <div class="input-field col s12">
          <input id="cotizaTipo" type="text" class="validate"   name="cotizaTipo">
          <label for="cotizaTipo">Versión</label>
        </div>
        
    	<div class="input-field col s12">        	
    		<textarea id="cotizaComentario" name="cotizaComentario"  type="text" class="materialize-textarea validate" ></textarea> 
      		<label for="cotizaComentario">Comentario</label>	
    	</div>
          
        

        <div type="button" id="SolicitarCotizacion" class="waves-effect waves-light btn">
            Solicitar Cotizaci&oacute;n
        </div>

    </div>
    
</div>