
<div id="seccMisSubastas" class="divSeccion divMisSubastas">
    <h2>Mis subastas</h2>
    <div class="divMisSubastas">
        <!--<ul class="row" id="ulMisSubastas">
        </ul>
        -->
        <div class="divSeccion">
            <ul class="tabs">
               <li class="tab col s3">
                    <a class="active"  href="#divListaSubastas4">Agendadas</a>
                </li>
                <li class="tab col s3">
                    <a href="#divListaSubastas" id="linkSubastasActivasUsuario">Activas</a>
                </li>
                <li class="tab col s3">
                    <a href="#divListaSubastas2">Terminadas</a>
                </li>
                <li class="tab col s3">
                    <a href="#divListaSubastas3">Canceladas</a>
                </li>
            </ul>
        </div>
        <ul class="row">
            <div id="divListaSubastas"  class="row listasubastas"></div>
            <div id="divListaSubastas2" class="row listasubastas"></div>
            <div id="divListaSubastas3" class="row listasubastas"></div>
            <div id="divListaSubastas4" class="row listasubastas"></div>
        </ul>

    </div>
</div>
