<div class="divLogin">
	<form class="floatingWindow row">
		

		<div class="form-wrapper is-active">
      <button type="button" class="switcher switcher-login">
        Iniciar sesion
        <span class="underline"></span>
      </button>
      <form class="form form-login">
        <fieldset>
          <legend>Please, enter your email and password for login.</legend>
          <div class="input-block">
            <label for="email">Correo Electrónico</label>
            <input id="loginMail" type="email" name="email" class="validate">
          </div>

          <div class="input-block">
            <label for="password">Contrase&ntilde;a</label>
            <input id="loginPassword" type="password" class="validate">
          </div>

        </fieldset>
        <button type="submit" class="btnLogin">Ingresar</button>
          <div class="input-block">
             <button type="submit" class="btn-login">
              <a class="labelHome right" href="?s=recuperar" style="text-decoration: none;color: #fff">Olvidé mi contraseña</a></button>
          </div>
      </form>
    </div>
	</form>
</div>
