<link rel="stylesheet" href="../../css/styles.css">

<body>
<!-- partial:index.partial.html -->
<section class="forms-section">
  <h1 class="section-title">Bienvenido a EAGO</h1>
  <div class="forms">

    <div class="form-wrapper is-active">
      <button type="button" class="switcher switcher-login">
        Iniciar sesion
        <span class="underline"></span>
      </button>
      <form class="form form-login">
        <fieldset>
          <legend>Please, enter your email and password for login.</legend>
          <div class="input-block">
            <label for="email">Correo Electrónico</label>
            <input id="loginMail" type="email" name="email" class="validate">
          </div>

          <div class="input-block">
            <label for="password">Contrase&ntilde;a</label>
            <input id="loginPassword" type="password" class="validate">
          </div>

        </fieldset>
        <button type="submit" class="btnLogin">Ingresar</button>
          <div class="input-block">
             <button type="submit" class="btn-login">
              <a class="labelHome right" href="?s=recuperar" style="text-decoration: none;color: #fff">Olvidé mi contraseña</a></button>
          </div>
      </form>
    </div>

    <div class="form-wrapper">
      <button type="button" class="switcher switcher-signup">
        Registrate
        <span class="underline"></span>
      </button>
      <form class="form form-signup">
        <fieldset>
          <legend>Please, enter your email, password and password </legend>
          <div class="input-block">
            <label for="nombre">Nombre</label>
           <input name="nombre" id="registroNombre" type="text" class="validate">

          </div>

          <div class="input-block">
            <label for="signup-password">Apellido Paterno</label>
            <input id="signup-password" type="password" required>

          </div>

          <div class="input-block">
            <label for="apmaterno">Apellido Materno</label>
            <input name="apmaterno" id="registroApMaterno" type="text" class="validate">
          </div>

          <div class="input-block">
            <label for="email">Correo Electrónico:</label>
            <input name="email" id="registroMail" type="email" class="validate" readonly>
<div class="divLogin">
	<form class="floatingWindow row">
		

		<div class="logoCar"></div>

		<div class="input-field col s10 offset-s1">
			<input id="loginMail" type="email" name="email" class="validate">
			<label for="email">Correo Electrónico</label>
		</div>

		<div class="input-field col s10 offset-s1">
			<input id="loginPassword" type="password" class="validate">
			<label for="password">Contrase&ntilde;a</label>
		</div>
		<div class="col s2" style="padding-top: 20px;">

		

		</div>
		
		<div class="col s10 ">
			<div id="btnLogin">
				INGRESAR
			</div>
		</div>

		
		<div class="input-field col s10 offset-s1">
            <a class="labelHome right" href="?s=registro">Registrarse</a>
        </div>
        
		<div class="input-field col s10 offset-s1">
            <a class="labelHome right" href="?s=recuperar">Olvidé mi contraseña</a>
        </div>
          <div class="input-block">
    <!-- TEMAS DE INTERES -->
            <div id="divPreferencias" class="row">
              <label for="chkPref" >Seleccione al menos un tema de su interés:</label>
            </div>
          </div>   

           <div class="input-block">
              <div class="row divRegistro registro">

                <div class="col s12" style="display:none">
                  Terminación de la placa de su auto:
                  <div class="input-field inline">
                    <input name="placa" id="registroPlaca" >
                  </div>
                </div>

              </div>
          </div> 

           <div class="input-block">
              <!-- INPUT CONFIRMACION -->
              <div class="divRegistro registro marginTop20 marginLeft35">
                <input type="checkbox" name="eula" id="registroEULA" />
                <label for="registroEULA">Estoy de acuerdo con los términos y condiciones</label>

              </div>
          </div> 

            <div class="input-block">
              <div class="divRegistro registro marginTop20">
                <div id="btnEula">
                  Consulta términos y contendiciones
                </div>
              </div>
          </div>  

                  

        </fieldset>
            <div class="divRegistro registro">
                <button id="btnGuardar" type="submit"class="btn-signup">Continue</button>
            </div>

      </form>
    </div>

  </div>
</section>
<!-- partial -->
  <script  src="../../scripts/script.js"></script>

</body>
</html>
	</form>
</div>
