<div class="divLogin">
	<form class="floatingWindow row">
		

		<div class="logoCar"></div>

		<div class="input-field col s10 offset-s1">
			<input id="loginMail" type="email" name="email" class="validate">
			<label for="email">Correo Electrónico</label>
		</div>

		<div class="input-field col s10 offset-s1">
			<input id="loginPassword" type="password" class="validate">
			<label for="password">Contrase&ntilde;a</label>
		</div>
		<div class="col s2" style="padding-top: 20px;">

		

		</div>
		
		<div class="col s10 ">
			<div id="btnLogin">
				INGRESAR
			</div>
		</div>

		
		<div class="input-field col s10 offset-s1">
            <a class="labelHome right" href="?s=registro">Registrarse</a>
        </div>
        
		<div class="input-field col s10 offset-s1">
            <a class="labelHome right" href="?s=recuperar">Olvidé mi contraseña</a>
        </div>
	</form>
</div>
