<div class="subastasDestacadasMain">
	 <div>Servicios</div>
	 <ul>
	 	<li name="submenuitem">Mecánica automotríz.</li>
	 	<li name="submenuitem">Estética automotríz.</li>
	 	<li name="submenuitem">Gestoría
	 		<ul>
	 			<li name="submenuitem">Cambio de propietario.</li>
	 			<li name="submenuitem">Cambio de placas</li>
	 			<li name="submenuitem">Verificación</li>
	 			<li name="submenuitem">Pago de tenencia</li>

	 		</ul>
		</li>
		<li name="submenuitem">Venta de autos</li>
		<li name="submenuitem">Subasta de autos.</li>
      </ul>
      <div id="infoContenido"></div>

</div>