<!-- En ésta parte esta: el titulo de la pagina y los botones principales para registrarse o entrar -->
<div class="logoHeader"></div>
<div class="menuitem menuitemlogin waves-effect waves-teal btn-flat" name="registro">
    Registrarse
</div>
<div class="menuitem menuitemlogin waves-effect waves-teal btn-flat" name="login">
    Entrar
</div>
<div class="menuitem menuitemwelcome" style="display: none" name="personaldata"></div>
<!-- menú principal; botones de redes sociales -->
<div id="jssor_1" class="jssorContainer">
    <!-- Loading Screen -->
    <div data-u="loading" class="jssorl-oval" >
        <img src="img/oval.svg" />
    </div>
    <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1500px;height:200px;overflow:hidden;">
        <a data-u="any" href="http://www.jssor.com" style="display:none">Full Width Slider</a>
        <div>
            <img data-u="image" src="img/banner-001.jpg" />
            <!-- <video width="1500" height="400" autoplay muted loop>
                <source src="images/headerVideo001.mp4" type="video/mp4">
                <source src="images/headerVideo001.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video> -->
            <!-- <div style="position:absolute;top:60px;left:100px;width:600px;height:120px;z-index:0;background-color:rgba(0,0,0,0.5);">
                <div style="position:absolute;top:15px;left:15px;width:500px;height:40px;z-index:0;font-size:30px;color:#ffffff;line-height:40px;">
                    Aquí puedes escribir cosas
                </div>
                <div style="position:absolute;top:60px;left:15px;width:570px;height:40px;z-index:0;font-size:22px;color:#ffffff;line-height:38px;">
                    image, text, html, svg, content, photo, picture, graphic
                </div>
            </div>
            <div style="position:absolute;top:250px;left:100px;width:600px;height:120px;z-index:0;background-color:rgba(255,255,255,0.5);">
                <div style="position:absolute;top:15px;left:15px;width:500px;height:40px;z-index:0;font-size:30px;color:#000000;line-height:40px;">
                    Run slider on any device
                </div>
                <div style="position:absolute;top:60px;left:15px;width:500px;height:40px;z-index:0;font-size:22px;color:#000000;line-height:38px;">
                    windows, android, mac
                </div>
            </div> -->
        </div>
        <div>
            <img data-u="image" src="img/banner-002.jpg" />
            <!-- <video width="1500" height="400" autoplay muted loop>
                <source src="images/vwCommercial.mp4" type="video/mp4">
                <source src="images/vwCommercial.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video> -->
            <!-- <div style="position:absolute;top:60px;left:100px;width:600px;height:120px;z-index:0;background-color:rgba(0,0,0,0.5);">
                <div style="position:absolute;top:15px;left:15px;width:500px;height:40px;z-index:0;font-size:30px;color:#ffffff;line-height:40px;">
                    Aquí puedes escribir cosas
                </div>
                <div style="position:absolute;top:60px;left:15px;width:570px;height:40px;z-index:0;font-size:22px;color:#ffffff;line-height:38px;">
                    image, text, html, svg, content, photo, picture, graphic
                </div>
            </div>
            <div style="position:absolute;top:250px;left:100px;width:600px;height:120px;z-index:0;background-color:rgba(255,255,255,0.5);">
                <div style="position:absolute;top:15px;left:15px;width:500px;height:40px;z-index:0;font-size:30px;color:#000000;line-height:40px;">
                    Run slider on any device
                </div>
                <div style="position:absolute;top:60px;left:15px;width:500px;height:40px;z-index:0;font-size:22px;color:#000000;line-height:38px;">
                    windows, android, mac
                </div>
            </div> -->
        </div>
        <div>
            <img data-u="image" src="img/banner-003.jpg" />
            <!-- <div style="position:absolute;top:60px;left:100px;width:600px;height:120px;z-index:0;background-color:rgba(0,0,0,0.5);">
                <div style="position:absolute;top:15px;left:15px;width:500px;height:40px;z-index:0;font-size:30px;color:#ffffff;line-height:40px;">
                    Aquí puedes escribir cosas
                </div>
                <div style="position:absolute;top:60px;left:15px;width:570px;height:40px;z-index:0;font-size:22px;color:#ffffff;line-height:38px;">
                    image, text, html, svg, content, photo, picture, graphic
                </div>
            </div>
            <div style="position:absolute;top:250px;left:100px;width:600px;height:120px;z-index:0;background-color:rgba(255,255,255,0.5);">
                <div style="position:absolute;top:15px;left:15px;width:500px;height:40px;z-index:0;font-size:30px;color:#000000;line-height:40px;">
                    Run slider on any device
                </div>
                <div style="position:absolute;top:60px;left:15px;width:500px;height:40px;z-index:0;font-size:22px;color:#000000;line-height:38px;">
                    windows, android, mac
                </div>
            </div> -->

        </div>
    </div>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
        <!-- bullet navigator item prototype -->
        <div data-u="prototype" style="width:16px;height:16px;"></div>
    </div>
    <!-- Arrow Navigator -->
    <span data-u="arrowleft" class="jssora22l" style="top:0px;left:8px;width:40px;height:58px;" data-autocenter="2"></span>
    <span data-u="arrowright" class="jssora22r" style="top:0px;right:8px;width:40px;height:58px;" data-autocenter="2"></span>
</div>
<!-- #endregion Jssor Slider End -->
<!-- Dropdown Structure -->
<ul id="dropdownAdmn" class="dropdown-content">
    <li><a class="menuitemindex" name="useradmin">USUARIOS</a></li>
    <li><a class="menuitemindex" name="homeadmin">ADMINISTRADOR DE HOME</a></li>
    <li><a class="menuitemindex" name="subastasadmin">ADMINISTRADOR DE SUBASTAS</a></li>
    <li><a class="menuitemindex" name="altaautos">ADMINISTRADOR VENTA DE AUTOS</a></li>
    <li><a class="menuitemindex" name="resultados">RESULTADOS POR SUBASTA</a></li>
    <li><a class="menuitemindex" name="cotizaciones">SOLICITUDES DE COTIZACION</a></li>
    <li><a class="menuitemindex" name="contactanos">CONTACTANOS</a></li>
</ul>
<!-- ENDS Dropdown Structure -->
<nav class="secondNav blue-grey darken-2">
    <div class="nav-wrapper" id="divMenuPrincipal">
        <ul class="right blue-grey darken-2">
            <li>
                <a href="#" class="menuitemindex" name="Nosotros">Nosotros</a>
            </li>
            <li>
                <a href="#" class="menuitemindex" name="servicios">Servicios</a>
            </li>
            <li>
                <a href="#" class="menuitemindex" name="faq">Preguntas Frecuentes</a>
            </li>
            <li>
                <a href="#" class="menuitemindex" name="facebook"></a>
            </li>
            <li>
                <a href="#" class="menuitemindex" name="twitter"></a>
            </li>
        </ul>

    </div>
</nav>
