<div class="bscrSubastaContainer">
	
	<div>	
		<label for="cmbEstado">ESTADO:</label>
		<select id="cmbEstado" ></select>
	</div>
	<div>
		<label for="cmbEmpresa">EMPRESA:</label>
		<select id="cmbEmpresa" ></select>
	</div>
	
	<button type="button" id="btnBuscar">BUSCAR</div>
</div>
<div id="grdResultados">
	<div>
		<div>#</div>
		<div>EMPRESA</div>
		<div>ESTATUS</div>
		<div>INICIO</div>
		<div>FINAL</div>
		<div>AUTOS</div>
	</div>

</div>
<button type="button" id="btnNuevaSubasta">NUEVA SUBASTA</button>
<div id="grdVehiculos" class="grdVehiculos2">
	<div>
		<label> VEH&Iacute;CULO</label>
		<label> UBICACI&Oacute;N</label>
		<button type="button" id="btnOcultarGrdVehiculos"> X </button>
	</div>
	
</div>