<h2>SUBASTAS</h2>
<div class="cnfgSubastaContainer" style="height: auto;">
	
		
	<div>
		<label>EMPRESA:</label>
		<select id="cmbEmpresa" ></select>
	</div>
	<div>	
		<label>VIGENCIA:</label>
		<div>
			<label>Del: </label>
			<input type="text" id="dp1"/> 
			<label>al:</label>
		 	<input type="text" id="dp2">
	 	</div>
	</div>

</div>


<h2>VEH&Iacute;CULOS EN SUBASTA</h1>

<div id="grdVehiculos">
	
	<div>
		<div></div>
		<div></div>
		<div>AUTOS</div>
		<div>UBICACI&Oacute;N</div>
		<div>KIL&Oacute;METROS</div>
		<div>FOTOS</div>
		<div>SALIDA</div>
		<div></div>
	</div>
</div>

	