<!-- <div class="divLogin">
    <form class="floatingWindow">
        <div class="logoCar"></div>
        <div class="logoLogin"></div>
        <div class="divRegistro login">
            <label for="mail">Correo electr&oacute;nico </label>
            <input type="text" name="mail" id="loginMail" />
        </div>
        <div class="divRegistro login">
            <label for="password">Password</label>
            <input type="password" name="password" id="loginPassword" />
        </div>
        <div class="divRegistro login">
            <div id="btnLogin">
                INGRESAR
            </div>
        </div>
        <label class="switch">
            <input type="checkbox" name="rememberme" id="rememberme"/>
            <div class="slider round"></div> </label>
        <label for="rememberme">Mantener sesión activa</label>

    </form>
</div> -->

<div class="divLogin row">
	<form class="floatingWindow">
		<div class="logoCar"></div>
		<div class="logoLogin"></div>

		<div class="input-field col s10 offset-s1">
			<input id="lblNombre" name="nombre" class="validate" type="text" />
			<label for="nombre">Bienvenido:</label>
		</div>

		<div class="input-field col s10 offset-s1">
			<input id="lblCorreo" name="correo" type="email" class="validate"/ >
			<label for="correo">Correo electrónico:</label>
		</div>

		<div class="input-field col s10 offset-s1">
			<input id="lblClaveApi" name="claveapi" type="text" class="validate"/ >
			<label for="claveapi">Código de verificación:</label>
		</div>

		<div class="divRegistro login">
			<div id="btnValidaCorreo" class="btnLogin">
				VALIDAR CORREO
			</div>
		</div>
		<br  />
		<div class="switch" style="width: 90%; color: white;">
			
				Le envíamos un código de verificación a su correo electrónico. Introduzca el código en el campo "Código de verificación", recuerde que el correo podría estar en su bandeja de correos no deseados o spam.
			
		</div>
		<div class="switch" style="width: 90%; color: white;">
			
				Si no recibió su código de verificación de click <a id="reenviarCorreo">aquí</a> 
			
		</div>
	</form>
</div>