<!-- En ésta parte esta: el titulo de la pagina y los botones principales para registrarse o entrar -->
<div class="logoHeader"></div>
<div class="menuitem menuitemlogin waves-effect waves-teal btn-flat" name="registro">
    Registrarse
</div>
<div class="menuitem menuitemlogin waves-effect waves-teal btn-flat" name="login">
    Entrar
</div>
<div class="menuitem menuitemwelcome" style="display: none" name="personaldata"></div>

<ul id="dropdownAdmn" class="dropdown-content">
	<li><a class="menuitemindex" name="useradmin">USUARIOS</a></li>
    <li><a class="menuitemindex" name="homeadmin">ADMINISTRADOR DE HOME</a></li>
	<li><a class="menuitemindex" name="subastasadmin">ADMINISTRADOR DE SUBASTAS</a></li>
	<li><a class="menuitemindex" name="altaautos">ADMINISTRADOR VENTA DE AUTOS</a></li>
    <li><a class="menuitemindex" name="resultados">RESULTADOS POR SUBASTA</a></li>
    <li><a class="menuitemindex" name="cotizaciones">SOLICITUDES DE COTIZACION</a></li>
    <li><a class="menuitemindex" name="contactanos">CONTACTANOS</a></li>
</ul>
<!-- ENDS Dropdown Structure -->
<nav class="secondNav blue-grey darken-2">
    <div class="nav-wrapper" id="divMenuPrincipal">
        <ul class="right blue-grey darken-2">
            <li>
                <a href="#" class="menuitemindex" name="Nosotros">Nosotros</a>
            </li>
            <li>
                <a href="#" class="menuitemindex" name="servicios">Servicios</a>
            </li>
            <li>
                <a href="#" class="menuitemindex" name="faq">Preguntas Frecuentes</a>
            </li>
            <li>
                <a href="#" class="menuitemindex" name="facebook"></a>
            </li>
            <li>
                <a href="#" class="menuitemindex" name="twitter"></a>
            </li>
        </ul>

    </div>
</nav>
