    <div class="btn modal-action modal-close waves-effect waves-green right" id="closeDetalleAuto">
    <i class="material-icons">close</i>
</div>
<div class="divDetalleAuto">
<!-- contenedor del encabezado del anuncio -->
    <div class="mbRightMainT">
        <div class="numRef">
            <label>NUM DE REFERENCIA</label>
            <label id="detalleIdAuto"></label>
        </div>
        <H5 id="detalleTitulo"></H5>

    </div>
    <div class="mbLeft">
        <!-- contenedor de la imagen principal de la galeria de imagenes -->

        <!-- <div><img id="imgPrincipal" alt="Imagen no disponible" class="materialboxed" attr-idx="1" />
        </div> -->
        <div id="imgSnapshots" class="carousel carousel-slider" data-indicators="true" data-ride="carousel">
          <a class="left carousel-control" href="#imgSnapshots" role="button" data-slide="prev">
                 <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
               </a>
               <a class="right carousel-control" href="#imgSnapshots" role="button" data-slide="next">
                 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
               </a>
        </div>


    </div>
    <!-- contenedor de todos los elementos "principales" de ésta pagina -->
    <div class="mbRight">

        <!-- contenedor de los datos generales del anuncio -->
        <div class="mbRightMainB">
            <!-- contenedor de datos generales del anuncio IZQ -->
            <div class="addInfo">
                <div>
                    <label>MARCA:</label>
                    <label id="detalleMarca"></label>
                </div>
                <div>
                    <label>MODELO:</label>
                    <label id="detalleModelo"></label>
                </div>

                <div>
                    <label>KIL&Oacute;METROS:</label>
                    <label id="detalleKM"></label>
                </div>
                <div>
                    <label>AÑO:</label>
                    <label id="detalleAnio">/label>
                </div>
                <div>
                    <label>COLOR:</label>
                    <label id="detalleColor">/label>
                </div>
                <div>
                    <label>TRANSMISIÓN:</label>
                    <label id="detalleTransmision"></label>
                </div>

                <div>
                    <label>UBICACIÓN:</label>
                    <label id="detalleUbicacion"></label>
                </div>
            </div>
            <!-- contenedor de botón de "PUJAR AHORA"; contenedor de información de la subasta -->
            <div class="infoSubasta">
                <label>Precio de Salida:</label>
                <label id="detallePrecio"></label>
            </div>
        </div>
        <!-- contenedor de "2. EQUIPAMIENTO DEL VEHICULO" -->
        <div class="mbRightMainC">
            <label>EQUIPAMIENTO DEL VEH&Iacute;CULO</label>
            <label>EQUIPAMIENTO ADICIONAL:</label>
            <label id="detalleCaracteristicas"></label>
        </div>

        <!-- contenedor de "4. DESCRIPCIÓN DEL VEHICULO" -->
        <div class="mbRightMainD">
            <label>OBSERVACIONES:</label><Label id="detalleDescripcion"></Label>
        </div>
        <div class="mbRightMainC">
            <label>DATOS DE CONTACTO</label>
            <div class="addInfo">
                <div>
                    <label>Nombre:</label>
                    <label id="detalleNombreContacto"></label>
                </div>
                <div>
                    <label>Teléfono:</label>
                    <label id="detalleTelefonoContacto"></label>
                </div>

                <div>
                    <label>Celular:</label>
                    <label id="detalleCelularContacto"></label>
                </div>
                <div>
                    <label>Correo:</label>
                    <label id="detalleCorreoContacto">/label>
                </div>
                 <div>
                    <label>Información adicional:</label>
                    <label id="detalleInfoContacto">/label>
                </div>
            </div>

        </div>

    </div>
</div>
