
<div>
	<div><button id="btnAgregarAuto">Agregar</button></div>
</div>
<div id="grdMisVehiculos">
    <div>
        <div>Marca</div>
		<div>Modelo</div>
		<div>Placa</div>
		<div>Engomado</div>
		<div>Verificación</div>
		<div></div>
    </div>
</div>

<div>


<div id="altaMisAutos" title="Agregar Auto">
    <div class="divRegistro">
        <label for="cbMarcaAuto" >Marca:</label>
        <select id="cbMarcaAuto" name="cbMarcaAuto" ></select>
    </div>
    <div class="divRegistro">
        <label for="cbModeloAuto" >Modelo:</label>
        <select id="cbModeloAuto" name="cbModeloAuto" >
            <option value="0">== Seleccione ==</option>
        </select>
    </div>
    <div class="divRegistro">
        <label for="numdePlaca" >Placas:</label>
        <input type="text" name="numdePlaca" id="numdePlaca" />
    </div>
    <div class="divRegistro">
		<div id="btnGuardaAuto" class="fa fa-floppy-o">
                Nuevo
            </div>
        </div>
    </div>
